<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 gap-2">
  <a href="#" class="d-flex align-items-center justify-content-center mt-3 pb-3 mb-md-0 text-white text-decoration-none w-100">
    <span class="fs-5">{{title}}</span>
  </a>
  <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start w-100" id="menu">
    <li class="d-flex justify-content-center w-100">
      <a href="#" class="btn btn-light px-4 text-center w-100">Dashboard</a>
    </li>
  </ul>
</div>




