<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 gap-2">
  <a href="#"
    class="d-flex align-items-center justify-content-center mt-3 pb-3 mb-md-0 text-white text-decoration-none w-100">
    <span class="fs-5 electric-blue-text">{{title}}</span>
  </a>
  <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start w-100">
    <li *ngFor="let ultimaBusqueda of historial" (click)="buscar(ultimaBusqueda)"
      class="d-flex justify-content-center w-100 mt-1">
      <a class="btn btn-light px-4 text-center w-100 electric-blue-text">{{ultimaBusqueda | titlecase}}</a>
    </li>
  </ul>
</div>
